/* Box-sizing
----------------------*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Fonts
----------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cantarell');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

/* Colors
----------------------*/
:root {
    --nelson-purple: #b8557b;
    --semolina-red: #c63757;
    --pirlo-blue: #309dcd;
    --titan-green: #258d6b;
    --gradient-black: #141312;
    --evidence-grey: #7b756f;
    --hermanni-grey: #edecec;
    --toukola-green: #e9f5e1;
    --kumpula-yellow: #faf3e1;
    --vallila-blue: #e1f1f7;
    --arabia-red: #faecec;
    --nero-white: #ffffff;
}

/** Basics **/

body {
    font-family: 'Space Mono';
    font-size: 14px;
    line-height: 24px;
}

main {
    min-height: 800px;
}
h1,
h2,
h3,
h4 {
    font-family: 'Noto Serif Semibold';
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

svg {
    vertical-align: middle;
}

/** a11y **/

.sr-show {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}
