/* Fonts
----------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cantarell');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

/* Box-sizing
----------------------*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    /* Colors
    ----------------------*/

    /* Main colors */
    --gradient-black: #141312;
    --evidence-grey: #77716b;
    --nero-white: #ffffff;
    --titan-green: #238564;
    --pirlo-blue: #067cc1;
    --semolina-red: #c63757;
    --nelson-purple: #b8557b;

    /* Background colors */
    --arabia-red: #faecec;
    --kumpula-yellow: #faf3e1;
    --toukola-green: #e9f5e1;
    --vallila-blue: #e1f1f7;
    --hermanni-grey: #eeecec;

    /* Special colors */
    --tonic-grey: #d7d4d3;
    --sparkling-blue: #80bfdb;
    --birra-brown: #976f10;

    /* Shady colors */
    --hermanni-grey-lighter: #f8f8f7;
    --toukola-green-lighter: #f4f7f2;
    --evidence-grey-lighter: #adaaa6;
    --evidence-grey-darker: #6b6661;
    --titan-green-darker: #16815d;
    --titan-green-darkest: #145b43;
    --pirlo-blue-darker: #0469a4;

    /* Space scale
    ----------------------*/
    --space-80: 80px;
    --space-64: 64px;
    --space-48: 48px;
    --space-40: 40px;
    --space-32: 32px;
    --space-24: 24px;
    --space-16: 16px;
    --space-8: 8px;
    --space-4: 4px;

    /* Grid
    ----------------------*/
    --max-page-width: 1280px;
}

/** Basics **/

body {
    font-family: 'Hack';
    font-size: 14px;
    line-height: 24px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Noto Serif Semibold';
    margin-top: var(--space-40);
    margin-bottom: var(--space-24);
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    overflow-wrap: break-word;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

svg {
    vertical-align: middle;
}

a {
    color: var(--titan-green);
}

a:hover {
    text-decoration: underline;
    background: var(--hermanni-grey-lighter);
    color: var(--titan-green-darker);
}

a:focus {
    outline: 2px solid var(--pirlo-blue);
}

a:active {
    color: var(--pirlo-blue);
    text-decoration: underline;
}

button {
    cursor: pointer;
}

button[disabled] {
    pointer-events: none;
}

button:focus,
input:focus {
    outline: 0;
    box-shadow: 0 0 0 var(--space-4) var(--sparkling-blue);
}

/** a11y **/

.sr-show {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}
