/* Box-sizing
----------------------*/
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Fonts
----------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

/** Basics **/

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 140%;
}
h1,
h2,
h3,
h4 {
    font-family: 'Cantarell', Helvetica, Arial, sans-serif;
    margin-left: -2px;
    padding: 0;
    margin-top: 0;
    line-height: 2.5rem;
    letter-spacing: -0.05rem;
}
h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
}
h2 {
    font-size: 1.75rem;
}

/** a11y **/

.sr-show {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; /* added line */
    width: 1px;
}
